.aboutContainer {
    background-image: url("../images/about.jpg");
    font-family: inherit;
    width: 100vw;
    height: 85vh;
    color: rgb(173, 16, 37);
    position:absolute;
    transform:translate(-1vw, -1vh);
    text-align: center;
    font-size: 3.5vw;
    text-shadow: rgb(253, 156, 156) 5px 5px 5px;
    display: grid;
}

.aboutContainer > p{
    background-color: white;
    transform: skewX(-10deg);
    max-width: 80vw;
    margin: auto;
    padding: 1vw;
    border-radius: 10px;
}