.contactContainer {
    background-image: url("../images/contact.jpg");
    font-family: inherit;
    width: 100vw;
    height: 85vh;
    position:absolute;
    margin-left: 0;
    transform:translate(-1vw, -1vh);
    text-align: center;
    font-size: 3vw;
    text-shadow: rgba(15, 0, 0, 0.705) 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.contactContainer > a:hover {
    text-shadow: rgba(0, 0, 0, 0.692) 9px 9px 4px;
    box-shadow: black 5px 5px 5px 5px;
}


.contactContainer > a {
    margin: auto;
    display: flex;
    text-align: end;
}

.contactContainer > a > img {
    max-height: 8vh;
    margin-right: 1vw;
}

.contactContainer > a > h3 {
    color: white;
    text-decoration: none;
}

.contactContainer > a > h2 {
    margin: auto;
    margin-right: 1vw;
    padding-bottom: 2vh;
}