.homeContainer {
    background-image: url("../images/home.jpg");
    font-family: inherit;
    width: 100vw;
    height: 85vh;
    position:absolute;
    margin-left: 0;
    transform:translate(-1%, -1%);
    text-align: center;
    font-size: 3vw;
    text-shadow: rgba(15, 0, 0, 0.705) 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(223, 19, 46);
    text-shadow: rgb(253, 156, 156) 5px 5px 5px;
}

.homeContainer > h1{
    max-width: 700px;
    margin: auto;
    margin-top: -150px;
} 

.homeContainer > h2 {
    margin-bottom: -6px;
    margin-top: 200px;
}

.homeContainer > h1:hover,
.homeContainer > h2:hover {
    text-shadow: red 2px 2px 0px;
    cursor: pointer;
}