.homeContainer {
    background-image: url("../images/home.jpg");
    font-family: inherit;
    width: 100.5%;
    height: 86.3%;
    position:absolute;
    margin-left: 0;
    transform:translate(-1%, -1%);
    text-align: center;
    font-size: 25px;
    text-shadow: rgba(15, 0, 0, 0.705) 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr;
    color: rgb(223, 19, 46);
    text-shadow: rgb(253, 156, 156) 5px 5px 5px;
}

.homeContainer > h3{
    margin-top: 90px;
}

.homeContainer > h1{
    margin-top: -140px;
}

.homeContainer > h1:hover,
.homeContainer > h3:hover {
    text-shadow: red 2px 2px 0px;
    cursor: pointer;
}