.skillsContainer {
    background-image: url("../images/skills.jpg");
    font-family: inherit;
    width: 100vw;
    height: 85vh;
    color: rgb(173, 16, 37);
    position:absolute;
    margin-left: 0;
    transform:translate(-1%, -1%);
    text-align: center;
    font-size: 4vw;
    text-shadow: rgb(253, 156, 156) 5px 5px 5px;
    display: grid;
    grid-template-columns: 1fr;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.reactContainer {
    margin-top: 1vh;
    transform: translate(-30vw);
}

.reactContainer > img{
    display: inline-block;
    max-width: 8vw;
    margin-right: 2vw;
}

.reactContainer > p {
    display: inline-block;
}

.javaScriptContainer {
    transform: translate(-20vw);
}

.javaScriptContainer > img{
    display: inline-block;
    max-width: 9vw;
}

.javaScriptContainer > p {
    display: inline-block;
}

.htmlContainer {
    transform: translate(-10vw);
}

.htmlContainer > img{
    display: inline-block;
    max-width: 9vw;
}

.htmlContainer > p {
    display: inline-block;
}

.cssContainer > img{
    display: inline-block;
    max-width: 9vw;
}

.cssContainer > p {
    display: inline-block;
}

.pythonContainer {
    transform: translate(10vw);
    width: 60vw;
    text-align: end;
}

.pythonContainer > img{
    display: inline-block;
    max-width: 9vw;
}

.pythonContainer > p {
    display: inline-block;
}

.skillsContainer > div:hover {
    text-shadow: 2px 2px red;
    cursor: pointer;
}